Source: compoundfiles
Maintainer: Dave Jones <dave@waveform.org.uk>
Homepage: http://pypi.python.org/pypi/compoundfiles
Section: python
Priority: extra
Build-Depends: debhelper (>= 8), python-all (>= 2.7), python-setuptools, python3-all, python3-setuptools, python-docutils, python-sphinx (>= 1.0.7+dfsg-1~)
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2

Package: python-compoundfiles
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Suggests: python-compoundfiles-docs
Description: Library for parsing and reading OLE Compound Documents.
 compoundfiles is a library for working with Microsoft OLE Compound Documents,
 which formed the basis for the older binary Office formats, and the newer
 Advanced Authoring Format.
 .
 This is the Python 2 version of the package.

Package: python3-compoundfiles
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: python-compoundfiles-docs
Description: Library for parsing and reading OLE Compound Documents.
 compoundfiles is a library for working with Microsoft OLE Compound Documents,
 which formed the basis for the older binary Office formats, and the newer
 Advanced Authoring Format.
 .
 This is the Python 3 version of the package.

Package: python-compoundfiles-docs
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Documentation for the library for reading OLE Compound Documents.
 compoundfiles is a library for working with Microsoft OLE Compound Documents,
 which formed the basis for the older binary Office formats, and the newer
 Advanced Authoring Format.
 .
 This is the version-independent documentation for the package.
