#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export PYBUILD_NAME=compoundfiles

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild --test-pytest --pyver "2.7 3.2"

#override_dh_auto_test:
#	python setup.py test

override_dh_installdocs:
	python setup.py build_sphinx -b html
	dh_installdocs

